<?xml version="1.0"?>
<launch>
	<!-- Include the MAVROS node with SITL and Gazebo -->
	<include file="$(find offboard_cpp)/launch/multiuav_launch.launch">
	</include>

	<!-- Our node to control the drone -->
	<node pkg="offboard_cpp" type="send_traj_node" name="send_traj" required="true" output="screen" />
	<node pkg="offboard_cpp" type="send_formation" name="send_formation" required="true" output="screen" />

	<node pkg="offboard_cpp" type="uav0_vel" name="uav0_vel_ctrl" required="true" output="screen" />
	<node pkg="offboard_cpp" type="uav1_vel" name="uav1_vel_ctrl" required="true" output="screen" />
	<node pkg="offboard_cpp" type="uav2_vel" name="uav2_vel_ctrl" required="true" output="screen" /> 
	<node pkg="offboard_cpp" type="uav3_vel" name="uav3_vel_ctrl" required="true" output="screen" />
	<node pkg="offboard_cpp" type="error" name="error" required="true" output="screen" />
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find offboard_cpp)/sss.rviz" />
</launch>
